

.content 
{ 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-width{
  max-width: 350px;
}

.row-align-center{
    justify-content: center;
  }